.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "QuizInfo . NumQuestion"
    "Quiz Quiz Quiz"
    ". . .";
}

.QuizInfo {
  grid-area: QuizInfo;
  text-align: start;
}

.NumQuestion {
  grid-area: NumQuestion;
  text-align: end;
}

.Quiz {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Question"
    "Réponse";
  grid-area: Quiz;
}

.Question {
  grid-area: Question;
  margin-left: auto;
  margin-right: auto;
}

.IndiceDiv{
  text-align: center;
}

.Indice {
  display: inline-block;
}

.Réponse {
  grid-area: Réponse;
  text-align: center;
}


html, body, .container {
  height: 100%;
  margin: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9ACD32;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9ACD32;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

