.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "QuizInfo . NumQuestion"
    "Quiz Quiz Quiz"
    ". . .";
}

.QuizInfo {
  grid-area: QuizInfo;
  text-align: start;
}

.NumQuestion {
  grid-area: NumQuestion;
  text-align: end;
}

.Quiz {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Question"
    "Réponse";
  grid-area: Quiz;
}

.Question {
  grid-area: Question;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Réponse {
  grid-area: Réponse;
  text-align: center;
}


html, body, .container {
  height: 100%;
  margin: 0;
}

