<div class="container">
  <div class="card">
    <h2>Créer une nouvelle question</h2>
    <form class="quiz-form" [formGroup]="questionForm">
        <mat-form-field appearance="fill">
          <mat-label>Question</mat-label>
          <input matInput type="text" [formControlName]="'label'" >
        </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="addAnswer()" style="margin: 1em">
        <mat-icon>add_circle</mat-icon>
        <br>
        Ajouter une réponse
      </button>
      <button mat-raised-button color="primary" (click)="deleteAnswer()" style="margin: 1em">
        <mat-icon>remove_circle</mat-icon>
        <br>
        Enlever une réponse
      </button>
      <br>
      <br>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div class="answer-form" [formGroupName]="i">
            <label>
              <mat-form-field appearance="fill">
                <mat-label>Réponse {{i + 1}}</mat-label>
                <input matInput type="text" [formControlName]="'value'" >
              </mat-form-field>
              <br><br> Ajouter une image <br><br>
              <app-image></app-image>
              <br>
              Vrai ?
              <input type="checkbox" [formControlName]="'isCorrect'">
            </label>
          </div>
        </div>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Indice</mat-label>
        <input matInput type="text" [formControlName]="'clue'" >
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="primary" (click)="addQuestion()" [disabled]="questionForm.invalid">Ajouter une nouvelle question</button>
      <button type="submit" mat-raised-button color="primary" (click)="addLastQuestion()" [disabled]="questionForm.invalid">Fin</button>
    </form>
  </div>
</div>
