.button-card {
  background-color: white;
  border: solid 1px darkseagreen;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkseagreen;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em;
}

.button-card:hover {
  cursor: pointer;
}
