<mat-toolbar class="header" color="primary" style="margin-bottom: 1em">


  <div class="retour">
    <button mat-button class="bouton" onclick="history.back()" style="font-size: 20px">
      <mat-icon aria-hidden="false">arrow_back</mat-icon>
      <br>
      Retour
    </button>
  </div>

  <div class="home">
    <button mat-button  class="bouton" [routerLink]="['/home']" style="font-size: 20px">
      <mat-icon aria-hidden="false">home</mat-icon>
      <br>
      Accueil
    </button>
  </div>

  <a class="navigation" [routerLink]="['/home']">POLYQUIZ</a>

  <!--<div *ngIf="!alreadyConnected" class="boutonNotConnected">
      <button mat-button class="bouton" [routerLink]="['/connexion']" style="font-size: 20px">
        <mat-icon aria-hidden="false">save</mat-icon>
        <br>
        Se connecter
      </button>
  </div>

  <div class="menu" *ngIf="alreadyConnected">-->
    <!--<div>
      <button class="boutonM"><i class="fas fa-user"></i>Menu</button>
      <div class="sous-menu">
        <button class="bouton">Profil</button>
        <button class="bouton" (click)="listQuiz()" [routerLink]="['/quiz-list']">Liste des Quiz</button>
        <button class="bouton" [routerLink]="['/patient-list']">Accompagnés</button>
        <button type="submit" class="bouton" [routerLink]="['/home']" (click)="SeDeconnecter()">Déconnexion</button>
      </div>
    </div>
    -->

  <div class="menu">
    <button mat-button class="bouton" [matMenuTriggerFor]="menu" style="font-size: 20px">
      <mat-icon aria-hidden="false">reorder</mat-icon>
      <br>
      Menu
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="listQuiz()" [routerLink]="['/quiz-list']" style="font-size: 20px">Liste des Quiz</button>
      <button mat-menu-item [routerLink]="['/patient-list']" style="font-size: 20px">Accompagnés</button>
      <button mat-menu-item [routerLink]="['/quiz-form']" style="font-size: 20px">Créer un quiz</button>
      <!--<button mat-menu-item (click)="SeDeconnecter()" [routerLink]="['/home']" style="font-size: 20px">Se Déconnecter</button>-->
    </mat-menu>

  </div>
</mat-toolbar>




