/*@import "../../../styles/variables";*/

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: white;
}

.header {
  background: darkseagreen;
  padding: 0.5em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  position: relative;
  //justify-content: center;
  height: 5em;
}

.navigation {
  color: black;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

a:link {
  text-decoration: none;
}

.boutonM {
  background-color: darkseagreen;
  color: black;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 5%;
  display: inline-block;
}

.bouton {
  background-color: darkseagreen;
  color: black;
  font-size: 1em;
  border: none;
  cursor: pointer;
}


.bouton:hover{
  background-color: mediumseagreen;
}

.sous-menu {
  display: none;
  background-color: darkseagreen;

}

.sous-menu button {
  width: 100px;
  color: black;
  background-color: darkseagreen;
  text-align: center;
  //text-decoration: none;
  display: block;
}

.sous-menu button:hover {
  background-color: mediumseagreen;
}

.menu:hover .sous-menu {
  display: block;
}
.menu:hover .boutonM {
  display: none;
}
