<app-header></app-header>
<div class="container">
  <div class="card">
    <div>
      <h2>{{quiz.name}}</h2>
      <h3>Categorie: {{quiz.theme}}</h3>
    </div>
    <app-utils-field-select *ngIf="bool" [champs]="pathologies" (outValue)="setPathologie($event)"></app-utils-field-select>
    <div class="ShowAnswer" [style.visibility]="notSelected ? 'visible' : 'hidden'">
      <h4 class="Alert">Choisissez une pathologie pour jouer au quiz !</h4>
    </div>
    <button mat-stroked-button color="primary" (click)="playQuiz()" >Jouer le quiz</button>

  </div>
</div>
