<app-header></app-header>
<div class="example-card">
  <mat-card *ngIf="patient" style="margin: 1em; border: 0.1rem solid #3f51b5;">
    <mat-card-content>
      <div class="example-card">
        <p class="titre" style="margin: 0.3em;">Quiz : {{quiz.name}}</p>
      </div>
      <br>
      <h3 class="example-card" style="margin: 0.3em; font-size: 20px">Categorie: {{quiz.theme}}</h3>
      <br>
      <app-utils-field-select class="example-card" *ngIf="bool" [title]="titreSelect" [champs]="pathologies"
                              (outValue)="setPathologie($event)"></app-utils-field-select>
      <div class="example-card" [style.visibility]="notSelected ? 'visible' : 'hidden'">
        <h4>Choisissez une pathologie pour jouer au quiz !</h4>
      </div>
      <div class="example-card">
        <button mat-stroked-button color="primary" style="margin-bottom: 0.3em; font-size: 20px" (click)="playQuiz()">Jouer le quiz</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
