<app-header></app-header>
<div class="container">
  <div class="QuizInfo">
    <h2>{{quiz.name}}</h2>
    <h3>Categorie : {{quiz.theme}}</h3>
  </div>
  <div class="quiz" *ngFor="let question of quiz.questions">
    <hr/>
    <h3>{{question.id}}/{{quiz.questions.length}} - {{question.label}}</h3>
    <div class="quiz" *ngFor="let answer of question.answers">
       <ng-container *ngIf="answer.isCorrect">{{answer.value}}</ng-container>
    </div>

  </div>
  <div class="close">
    <hr/>
    <button class="button-card edit" routerLink="/home">Retourner au menu principal</button>
  </div>
</div>
