.container{
  text-align: center;
}

.card {
  background: white;
  border-radius: 2px;
  display: inline-block;
  margin: 2rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 1em 1em 1em 1em;
  display: inline-block;

}

.button-card {
  background-color: white;
  border: solid 1px #3f51b5;
  color: #3f51b5;
  font-weight: bold;
  padding: 0.5em 1em;
  margin-top: 50px;
}

.button-card:hover {
  cursor: pointer;
}

h2{
  font-size:250%;
}

.quiz{
  font-size: 160%;

}

.answer{
  font-size: 120%;
  text-decoration : underline;
}





