<app-header></app-header>
<div class="example-card">
  <mat-card style="margin: 1em">
    <mat-card-content>
      <p class="titre">Ajouter un accompagné</p>
      <br>
      <app-utils-field-input class="example-card" [title]="'Prenom'"
                             (outText)="setFirstName($event)"></app-utils-field-input>
      <app-utils-field-input class="example-card" [title]="'Nom'"
                             (outText)="setLastName($event)"></app-utils-field-input>
      <app-utils-field-select class="example-card" [title]="'Pathologie'" [champs]="pathologies"
                              (outValue)="setPathologie($event)"></app-utils-field-select>
      <app-utils-field-input class="example-card" [title]="'Age'" (outText)="setAge($event)"></app-utils-field-input>
      <br>
      <div class="example-card">
        <button mat-stroked-button color="primary" (click)="addPatient()" [routerLink]="['/patient-list']" style="margin-right: 0.5em; border: 0.1rem solid;">Ajouter
          accompagné
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
