<app-header></app-header>

<h1>Ajouter un patient</h1>

<div class="container">
  <div class="card">
    <br>
    <form class="user-form" [formGroup]="userForm">
      <label for="firstName">
        First name
        <input class="input-custom" type="text" id="firstName" [formControlName]="'firstName'">
      </label>
      <br>
      <label for="lastName">
        Last name
        <input class="input-custom" type="text" id="lastName" [formControlName]="'lastName'">
      </label>
      <br>
      <label for="pathologie">
        Pathologie
        <input class="input-custom" type="text" id="pathologie" [formControlName]="'pathologie'">
      </label>
      <br>
      <label for="age">
        Age
        <input class="input-custom" type="number" id="age" [formControlName]="'age'">
      </label>
      <br>
      <br>
      <button type="submit" class="button-card" (click)="addUser()" [routerLink]="['/user-list']">Add</button>
    </form>
  </div>
</div>
