<app-header></app-header>
<div class="container">
  <div class="QuizInfo">
    <h2>{{quiz.name}}</h2>
    <h3>Catégorie : {{quiz.theme}}</h3>
  </div>
  <div class="card" *ngFor="let question of quiz.questions;let i = index;">
    <h4>{{i+1}}/{{quiz.questions.length}} - {{question.label}}
      <img src="{{question.image}}" alt="" width="200" *ngIf="question.image"></h4>
    <div class="answer" *ngFor="let answer of question.answers">
       <ng-container *ngIf="answer.isCorrect" color="primary">Réponse :
         <img src="{{answer.value}}" alt="{{answer.value}}" width="200" *ngIf="answer.value"></ng-container>
    </div>

  </div>
  <div class="close">
    <hr/>
    <button class="button-card edit" routerLink="/home">Retourner au menu principal</button>
  </div>
</div>
