<app-header></app-header>
<mat-card style="margin: 3em; border: 0.3rem solid #909DE1;">
  <div class="container">
    <div class="QuizInfo">
      <h2 style="font-size: 25px">Quiz: {{quiz.name}}</h2>
      <h3 style="font-size: 20px">Catégorie : {{quiz.theme}}</h3>
    </div>
    <div class="NumQuestion">
      <h3 style="font-size: 20px">Question {{numQuestion}}/{{quiz.questions.length}}</h3>
    </div>
    <div class="Quiz">
      <div class="Question">
        <h2 style="font-size: 25px">{{actualQuestion.label}}</h2>
        <img src="{{actualQuestion.image}}" alt="image" width="200" *ngIf="actualQuestion.image">
      </div>
      <div class="Réponse">
        <app-answer [anwserList]="actualQuestion.answers" (awnserSelected)="answerSelected()"></app-answer>
      </div>
    </div>
  </div>
</mat-card>
