<mat-card style="margin: 1em; border: 0.1rem solid #3f51b5;">
  <mat-card-content>
    <div class="example-card">
      <p class="titre">Quiz : {{quiz.name}}</p>
    </div>
    <button mat-stroked-button color="primary" style="margin-right: 0.3em; border: 0.1rem solid; font-size: 20px" (click)="selectQuiz()">Sélectionner</button>
    <button mat-stroked-button color="primary" style="margin-left: 0.3em; border: 0.1rem solid; font-size: 20px" (click)="deleteQuiz()">Supprimer</button>
  </mat-card-content>
</mat-card>


