a:link
{
  text-decoration:none;
}

.container{
  text-align: center;
}

.card {
  background: white;
  border-radius: 2px;
  display: inline-block;
  margin: 2rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 1em 1em 1em 1em;
  display: inline-block;

}

.button-card {
  background-color: white;
  border: solid 1px darkseagreen;
  color: darkseagreen;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em;
}

.button-card:hover {
  cursor: pointer;
  background: #C3FBA0;
}



.answer-form {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.file-input {
  display: none;
}
