<app-header></app-header>
<br>
<h2> {{patient.firstName}} {{patient.lastName}} </h2>
<div class="container">
  <br>
  <input list="pathologie">

  <datalist id="pathologie">
    <option value="AVC">
    <option value="Alzheimer">
    <option value="Agnosie">
  </datalist>
  <h3>Age: {{patient.age}}</h3>

  <div class="stats">
    <h2>Statistiques</h2>
  </div>

  <div class="quiz-realises">
    <h2>Quiz réalisés</h2>
    <div class="quiz" *ngFor="let quiz of quizList">
      <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)"></app-quiz>
    </div>
  </div>
</div>


