.add {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
  padding: 0.5em 1em;
  font-size: 1.5em

}

.button-card:hover {
  cursor: pointer;
}

.patients {
  padding-top: 2rem;
}
