.add {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
  padding: 0.5em 1em;
  font-size: 25px

}

.example-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
