a:link
{
  text-decoration:none;
}

.container{
  text-align: center;
}

.card {
  background: white;
  border-radius: 2px;
  display: inline-block;
  margin-top: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding-right: 1em;
  padding-left: 1em;
  display: inline-block;

}

.button-card {
  background-color: white;
  border: solid 1px darkseagreen;
  color: darkseagreen;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em;
}

.button-card:hover {
  cursor: pointer;
}
