<mat-card *ngIf="patient" style="margin: 1em; border: 0.1rem solid #3f51b5;" >
  <mat-card-content>
    <div class="example-card">
      <p class="titre">Accompagné : {{patient.firstName}} {{patient.lastName}}</p>
    </div>
    <button mat-stroked-button color="primary" style="margin-right: 0.5em; border: 0.1rem solid; font-size: 20px" (click)="selectPatientFiche()">Infos Accompagné</button>
    <button mat-stroked-button color="primary" style="margin-right: 0.5em; border: 0.1rem solid; font-size: 20px" (click)="selectPatientQuiz()">Faire Quiz</button>
    <button mat-stroked-button color="primary" style="margin-right: 0.5em; border: 0.1rem solid; font-size: 20px" (click)="deletePatient()">Supprimer</button>
  </mat-card-content>
</mat-card>

