<app-header></app-header>
<!-- <form class="home" [formGroup]="searchForm">
  <label for="search">
    <input type="search" [formControlName]="'search'" placeholder="Rechercher">
  </label>
</form> -->
<mat-card style="margin: 1em; border: 0.1rem solid #3f51b5;">
  <mat-card-content>
    <div class="example-card">
      <p class="titre">Theme</p>
    </div>
    <div class="example-card">
      <button style="margin: 0.3em; font-size: 20px;" mat-raised-button color="primary" *ngFor="let quiz of quizList">
        {{quiz.theme}}
      </button>
    </div>
  </mat-card-content>
</mat-card>
<mat-card style="margin: 3em 1em 1em 1em; border: 0.1rem solid #3f51b5;">
  <mat-card-content>
    <div class="example-card">
      <p class="titre">Top Quiz</p>
    </div>
    <div class="example-card">
      <div class="quiz" *ngFor="let quiz of quizList">
        <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (editQuiz)="quizEdit($event)"></app-quiz>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!--
  <div class="card">
    <button class="button-card" [routerLink]="['/quiz-list']">Liste des quiz</button>
  </div>
  <div class="card">
    <button class="button-card" [routerLink]="['/quiz-form']">Créer un nouveau quiz</button>
  </div>
  <div class="card">
    <button class="button-card" [routerLink]="['/patient-list']">Liste des patients</button>
  </div>
-->

