<app-header></app-header>
<div class="container">
  <div class="QuizInfo">
    <h2>{{quiz.name}}</h2>
    <h3>Categorie: {{quiz.theme}}</h3>
    <h3>Indices:
      <label class="switch">
        <input [(ngModel)]="addIndices" type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </h3>
  </div>
  <div class="NumQuestion">
    <h3>Question {{numQuestion}}/{{quiz.questions.length}}</h3>
  </div>
  <div class="Quiz">
    <div class="Question">
      <h2>{{actualQuestion.label}}</h2>
      <div class="IndiceDiv" [style.visibility]="indiceVisibility ? 'visible' : 'hidden'">
        <h3 class="Indice">Indice : {{actualQuestion.indice}}</h3>
      </div>
    </div>

    <div class="Réponse">
      <app-answer [anwserList]="actualQuestion.answers" (awnserSelected)="answerSelected($event)"></app-answer>
    </div>
  </div>
</div>
