.example-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre{
  margin-top: 0.5em;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4{
  color:red;
}
