<app-header></app-header>
<div class="container">
  <div class="card">
    <h2>Créer un nouveau quiz</h2>
    <br>
    <form [formGroup]="quizForm" (ngSubmit)="addQuestion()">
      <div class="form-group">
        <label for="name">Nom du quiz</label>
        <input class="input-custom" type="text" id="name" formControlName="name">
      </div>

      <div class="form-group">
        <label for="name">Thème</label>
        <input class="input-custom" type="text" id="theme" formControlName="theme">
      </div>

      <br>
      <button type="submit" class="button-card" (click)="addQuestion()">Ajouter une question</button>
    </form>
  </div>
</div>
