<app-header></app-header>
<div class="container">

</div>


<div *ngIf="bool">
  <div class="example-card">
    <mat-card style="margin: 1em; border: 0.1rem solid #3f51b5;">
      <mat-card-content>
        <p class="titre">Créer un nouveau quiz</p>
        <br>
        <app-utils-field-input class="example-card" [title]="'Nom du quiz'"
                               (outText)="setName($event)"></app-utils-field-input>
        <app-utils-field-input class="example-card" [title]="'Thème'"
                               (outText)="setTheme($event)"></app-utils-field-input>
        <div class="example-card" [style.visibility]="missArgument ? 'visible' : 'hidden'">
          <h4>Il faut remplir tous les champs afin de créer un nouveau quiz !</h4>
        </div>
        <div class="example-card">
          <button type="submit" mat-stroked-button color="primary" (click)="addQuestion()"
                  style=" margin-bottom: 0.5em; border: 0.1rem solid; font-size: 20px">Ajouter une question
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-questions-form *ngIf="!bool" [quiz]="quiz"></app-questions-form>
