.quiz{
  display: inline-block;
}
button {
  background-color: #eee;
  border: 1px solid #eee;
  color: #000000;
}

.btn {
  background: white;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 1em 1em 1em 1em;
  font-size: 1.5em;
}

.btn:hover {
  background: #C3FBA0;
  text-decoration: none;
}

