<app-header></app-header>
<div class="container">
  <div class="card">
    <h2>Créer un nouveau quiz</h2>
    <form class="quiz-form" [formGroup]="questionForm">
      <label for="label">
        Question
        <input class="input-custom" type="text" id="label" [formControlName]="'question'">
      </label>
      <div class="questions">

        <br>
        <label>
          Réponse 1
          <input type="text" [formControlName]="'answer1'">
          Correct
          <input type="checkbox" [formControlName]="'answer1IsCorrect'">
        </label>

        <br>
        <label>
          Réponse 2
          <input type="text" [formControlName]="'answer2'">
          Correct
          <input type="checkbox" [formControlName]="'answer2IsCorrect'">
        </label>

        <br>
        <label>
          Réponse 3
          <input type="text" [formControlName]="'answer3'">
          Correct
          <input type="checkbox" [formControlName]="'answer3IsCorrect'">
        </label>

        <br>
        <label>
          Réponse 4
          <input type="text" [formControlName]="'answer4'">
          Correct
          <input type="checkbox" [formControlName]="'answer4IsCorrect'">
        </label>

        <br>
        <br>
        <label>
          Indice
          <input type="text" [formControlName]="'clue'">

        </label>

        <br>
        <br>
        <br>
      </div>
      <button type="submit" class="button-card" (click)="addQuestion()">Créer</button>
    </form>
  </div>
</div>
