<app-header></app-header>
<div class="container">
  <br>
  <form class="user-form" [formGroup]="searchForm">
    <label for="search">
      <input type="text" [formControlName]="'search'" placeholder="Rechercher">
    </label>
  </form>
  <br>
  <br>
  <div class="list-themes">
    <h2>Themes</h2>
    <div class="themes" *ngFor="let quiz of quizList">
      {{quiz.theme}}
      <br>
    </div>
  </div>
  <br>
  <br>
  <div class="list-quiz">
    <h2>Top Quiz</h2>
    <div class="quiz" *ngFor="let quiz of quizList">
      <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)"></app-quiz>
    </div>
  </div>
<!--
  <div class="card">
    <button class="button-card" [routerLink]="['/quiz-list']">Liste des quiz</button>
  </div>
  <div class="card">
    <button class="button-card" [routerLink]="['/quiz-form']">Créer un nouveau quiz</button>
  </div>
  <div class="card">
    <button class="button-card" [routerLink]="['/user-list']">Liste des patients</button>
  </div>
-->
</div>

