<app-header></app-header>
<div class="container">
  <div class="card">
    <h2>Se connecter</h2>
    <br>
    <form class="quiz-form" [formGroup]="connexionForm">

        <br>
        <label>
          Email
          <input type="text" [formControlName]="'email'">
        </label>

        <br>
        <label>
          Mot de passe
          <input type="text" [formControlName]="'mdp'">
        </label>

        <br>
        <br>
        <br>
      <button type="submit" class="button-card" (click)="SeConnecter()">Se connecter</button>
        <br>
        <br>
      <label>
        Vous n'avez pas encore de compte ?
        <button type="submit" class="button-card" (click)="GoInscription()">S'inscrire</button>
      </label>
    </form>
  </div>
</div>
